/* Estilo para la tabla */
table {
    margin-top: 30px;
    width: 100%;
    max-width: 1500px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #3a3a42;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

th, td {
    border: 1px solid #555555;
    padding: 8px; /* Reduce el espacio dentro de las celdas */
    text-align: center;
    color: #f0f0f0;
}

th {
    background-color: #4b4b54;
    color: #ffffff;
    font-weight: bold;
}

tr:hover {
    background-color: #484850;
}

/* Estilo para las celdas de contratos */
td p {
    margin: 0; /* Elimina márgenes innecesarios */
    display: inline-block;
}

button {
    background-color: #5a5aff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #4848e0;
}

/* Botón de eliminación */
form button[type="submit"] {
    background: none;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre el contrato y la X */
    font-size: 16px; /* Reduce el tamaño de la X */
    padding: 0; /* Elimina padding para que se vea pequeño */
}

form button[type="submit"]:hover {
    color: darkred; /* Cambio de color al pasar el mouse */
}

/* Ajustes en el contenedor del formulario */
form {
    margin-top: 20px;
    padding: 20px;
    background-color: #3a3a42;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Eliminar espacios en blanco innecesarios */
body {
    font-family: Arial, sans-serif;
    background-color: #2c2c34;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f0f0f0;
}

/* Contenedor de los formularios */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
